#header {
  background: #333333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  padding: 0 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #FFFFFF;
  text-decoration: none;
}